.dropdown-button-default {
	width: 320px;
	height: 40px;
	padding-left: 15px;
	font-size: 14px;
	border: 1px solid #C7C7CF;
	border-radius: 4px;
	color: #575871;
	text-align: left;
	letter-spacing: 0.5px;
	background-color: #fff;
	font-family: "Montserrat";
	background: url(/src/img/arrow.svg) no-repeat center right 15px;
	img {
		float: right;
		margin-right: 5px;
		font-family: "Montserrat"
	}
}


.dropdown-default-text {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Montserrat';
    p {
        margin: 0;
        margin-bottom: 5px;
        text-transform: uppercase;
		color: #1F2041;
		font-size: 12px;
    }
    .lite {
        opacity: 50%;
    }
    .bold {
        font-weight: bold;
    }
}

.dropdown-date {
	display: flex;
	flex-direction: row;
}

.dropdown-date-text {
	font-weight: bold;
	text-transform: uppercase;
	color: #1F2041;
	font-family: 'Montserrat';
	font-size: 12px;
}


.dropdown-button-date,
.datedropdownandvalue {
	color: #575871;
	width: 150px;
	height: 44px;
	text-align: left;
	background: url(/src/img/arrow.svg) no-repeat center right 15px;
	padding-left: 15px;
	border: 1px solid #C7C7CF;
	border-radius: 4px;
	font-family: "Montserrat"
}

.dropdown-date-left {
	margin-right: 20px;
}

.filterdatedropdown {
	width: 266px;
	height: 40px;
	padding-left: 15px;
	font-size: 14px;
	border: 1px solid #C7C7CF;
	border-radius: 4px;
	color: #575871;
	font-family: "Montserrat";
	text-align: left;
	background: url(/src/img/arrow.svg) no-repeat center right 15px;
}

.casedropdown {
	width: 266px;
	height: 40px;
	padding-left: 15px;
	font-size: 14px;
	border: 1px solid #C7C7CF;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	color: #575871;
	font-family: "Montserrat";
	text-align: left;
	background: url(/src/img/arrow.svg) no-repeat center right 15px;
}

.casedropdownexp,
.casedropdownexp2,
.casedropdownexp3 {
	width: 266px;
	height: 40px;
	padding-left: 15px;
	font-size: 14px;
	border: 1px solid #8F90A0;
	/*border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;*/
	color: #575871;
	font-family: "Montserrat";
	text-align: left;
	background: url(/src/img/arrow.svg) no-repeat center right 15px;
}

.casedropdownexp-content,
.dropdown-content,
.dropdown-content1 {
	border-top: none;
  	border-right: 1px solid #8F90A0;
  	border-bottom: 1px solid #8F90A0;
  	border-left: 1px solid #8F90A0;
  	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	display: block;
	width: 264px;
}

.casedropdownexp-content .list-item,
.dropdown-content .list-item,
.dropdown-content1 .list-item {
	position: relative;
	display: flex;
	flex-direction: row;
	width: 266px;
	height: 44px;
	font-size: 12px;
	font-weight: bold;
	color: #1F2041;
	text-transform: uppercase;
	padding-left: 15px;
	p {
		margin: 0;
		margin-top: 13px;
		width: 34px;
		text-align: center;
		
	}
	div {
		position: absolute;
		display: flex;
		flex-direction: row;
		left: 162px;
	}
}

.dropdown-content .list-item .pl,
.dropdown-content .list-item .mi {
	border-radius: 50%;
	border: 1px solid #C7C7CF;
	width: 30px;
	height: 30px;
	margin-top: 5px;
	color: #C7C7CF;
	text-transform: uppercase;
	font-family: "Montserrat";
	background-color: #fff;
}

.dropdown-content1 .list-item .pl,
.dropdown-content1 .list-item .mi {
	border-radius: 50%;
	border: 1px solid #C7C7CF;
	width: 30px;
	height: 30px;
	margin-top: 5px;
	color: #C7C7CF;
	text-transform: uppercase;
	font-family: "Montserrat";
	background-color: #fff;
}

.casedropdownexp-content .list-item .pl,
.casedropdownexp-content .list-item .mi {
	border-radius: 50%;
	border: 1px solid #C7C7CF;
	width: 30px;
	height: 30px;
	margin-top: 5px;
	color: #C7C7CF;
	text-transform: uppercase;
	font-family: "Montserrat";
	background-color: #fff;
}

.casedropdownexp-content .list-item .pl1 {
	border-radius: 50%;
	border: 1px solid #C7C7CF;
	width: 30px;
	height: 30px;
	margin-top: 5px;
	color: #C7C7CF;
	text-transform: uppercase;
	font-family: "Montserrat";
	background-color: #fff;
	opacity: 0.5;
}

.dropdown-content .list-item .pl1,
.dropdown-content1 .list-item .pl1 {
	border-radius: 50%;
	border: 1px solid #C7C7CF;
	width: 30px;
	height: 30px;
	margin-top: 5px;
	color: #C7C7CF;
	text-transform: uppercase;
	font-family: "Montserrat";
	background-color: #fff;
	opacity: 0.5;
}